/* Fonts Google - Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
/* Fonts Google - Nunito */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 62.5%;

	/* Font family */
	--ff-nunito: "Nunito", sans-serif;
	--ff-ubuntu: "Ubuntu", sans-serif;

	/* Colors */
	--black: #111;
	--white: #fff;
	--light-gray: #f2f2f2;
	--medium-gray: #d1d1d1;
	--dark-gray: #a9a9a9;
	--light-green: #00db33;
	--medium-green: #00a827;
	--dark-green: #005c15;
	--vine: #800000;
	--yellow: #fbff28;
}

body,
#root {
	width: 100%;
	height: 100%;
	min-height: 100vh;
	color: var(--black);
}

a {
	color: var(--black);
	text-decoration: none;
}

picture {
	display: block;
}
picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-block-size: 100%;
	max-inline-size: 100%;
}

/* HEADER */
:is(header.header-white, header.header-green) {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 75px;
	padding: 8px 64px 8px 32px;
}
header.header-white {
	background-color: var(--white);
}
header.header-green {
	background-color: var(--medium-green);
}

:is(header.header-white, header.header-green) picture {
	height: 100%;
}

:is(header.header-white, header.header-green) nav ul {
	list-style: none;
	display: inline-flex;
	align-items: center;
	gap: 32px;
}

:is(header.header-white, header.header-green) nav ul li a {
	width: 100%;
	display: flex;
	flex-direction: column;
	font-size: 2rem;
	font-weight: 700;
	font-family: var(--ff-nunito);
}
header.header-white nav ul li a {
	color: var(--medium-green);
}
header.header-green nav ul li a {
	color: var(--white);
}

:is(header.header-white, header.header-green) nav ul li a::after {
	content: "";
	width: 0%;
	height: 2px;
	display: block;
	background-color: var(--vine);
	transition: all 0.3s ease-in-out;
}

:is(header.header-white, header.header-green) nav ul li :is(a.active, a:not(.link-button):hover)::after {
	width: 100%;
}

:is(header.header-white, header.header-green) nav ul li a.link-button {
	padding: 6px 12px;
	border-radius: 8px;
	transition: all 0.3s ease-in-out;
}
header.header-white nav ul li a.link-button {
	color: var(--white);
	background-color: var(--medium-green);
}
header.header-green nav ul li a.link-button {
	color: var(--medium-green);
	background-color: var(--white);
}
header.header-white nav ul li a.link-button:hover {
	background-color: var(--dark-green);
}
header.header-green nav ul li a.link-button:hover {
	background-color: var(--light-gray);
}
/* END HEADER */

/* MAIN CONTAINER */
main {
	width: 100%;
	padding: 128px 96px;
	display: flex;
	flex-direction: column;
	gap: 56px;
}
/* END MAIN CONTAINER */

/* FOOTER */
footer {
	color: var(--white);
	background-color: var(--medium-green);
}

footer .content {
	padding: 64px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}
footer .content h3 {
	font-size: 3.6rem;
}

footer .content picture {
	width: 216px;
	height: 218px;
}

footer .content .footer-links {
	display: flex;
	flex-direction: column;
	gap: 32px;
	font-family: var(--ff-nunito);
}
footer .content .footer-links ul {
	display: flex;
	flex-direction: column;
	gap: 24px;
	list-style: none;
}
footer .content .footer-links ul li a {
	font-weight: 700;
	font-size: 2.4rem;
	color: var(--white);
}

footer .content .footer-app {
	display: flex;
	flex-direction: column;
	gap: 32px;
	font-family: var(--ff-nunito);
}
footer .content .footer-app p {
	font-size: 2.4rem;
}
footer .content .footer-app .download-buttons {
	display: flex;
	gap: 24px;
}
footer .content .footer-app .download-buttons img {
	height: 42px;
	cursor: pointer;
}

footer .copyright {
	padding: 8px 0;
	font-weight: 700;
	font-size: 1.8rem;
	text-align: center;
	font-family: var(--ff-ubuntu);
	border-top: 4px solid var(--black);
}
/* END FOOTER */

/* INPUT SEARCH */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
input[type="search"] {
	width: 100%;
	padding: 10px 20px;

	font-size: 1.8rem;
	color: var(--black);
	font-family: var(--ff-nunito);

	appearance: none;
	border-radius: 60px;
	border: 1px solid var(--medium-gray);

	background-size: 32px;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: calc(100% - 20px);
	background-image: url(../img/icons/search-outline.svg);
}
input[type="search"]:focus {
	outline: 2px solid var(--medium-gray);
}
input[type="search"]::placeholder {
	color: var(--medium-gray);
}
/* END INPUT SEARCH */

/* BUTTON */
button.btn {
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;

	font-weight: 600;
	color: var(--white);
	font-family: var(--ff-nunito);

	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background 0.3s ease-in-out;
}

button.btn-light {
	background-color: var(--light-green);
}
button.btn-light:hover {
	background-color: var(--medium-green);
}

button.btn-medium {
	background-color: var(--medium-green);
}
button.btn-medium:hover {
	background-color: var(--dark-green);
}
/* END BUTTON */
