@import "./global.css";

/* HERO */
.hero {
	width: 100%;
	padding: 96px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("/assets/img/hero-background.png");
	background-size: cover;
	background-position: center;
}

.hero h1 {
	font-size: 5.6rem;
	color: var(--white);
	font-family: var(--ff-ubuntu);
}
.hero h1 span {
	color: var(--light-green);
}

.hero img {
	width: 400px;
}

@media (max-width: 768px) {
	.hero {
		padding: 48px;
	}

	.hero h1 {
		font-size: 3.8rem;
	}

	.hero img {
		width: 280px;
	}
}

@media (max-width: 425px) {
	.hero {
		padding: 42px;
	}

	.hero h1 {
		font-size: 2.4rem;
	}

	.hero img {
		width: 120px;
	}
}
/* END HERO */

/* ABOUT PANCS */
.about {
	display: flex;
	flex-direction: column;
	gap: 26px;
	width: 100%;
	padding: 96px 96px 48px;
	font-family: var(--ff-ubuntu);
}

.about .about-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.about .about-title h2 {
	font-size: 4.8rem;
	color: var(--medium-green);
}

.about .about-content {
	display: grid;
	grid-template-columns: 50% 50%;
}

.about .about-content .about-topics {
	display: flex;
	flex-direction: column;
	gap: 48px;
}
.about .about-content .about-topics :is(h3, ul li) {
	display: flex;
	align-items: center;
	gap: 14px;
}
.about .about-content .about-topics h3 {
	font-size: 3.2rem;
}
.about .about-content .about-topics ul {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.about .about-content .about-topics ul li {
	font-weight: 500;
	font-size: 2.4rem;
}

@media (max-width: 768px) {
	.about {
		padding: 48px 48px 36px;
	}

	.about .about-title h2 {
		font-size: 3.8rem;
	}
	.about .about-title img {
		width: 84px;
	}

	.about .about-content .about-topics h3 {
		font-size: 2.4rem;
	}
	.about .about-content .about-topics img {
		width: 34px;
	}
	.about .about-content .about-topics ul li {
		font-size: 1.8rem;
	}
	.about .about-content .about-topics ul li img {
		width: 28px;
	}
}

@media (max-width: 425px) {
	.about {
		padding: 36px 36px 24px;
	}

	.about .about-title h2 {
		font-size: 3.2rem;
	}
	.about .about-title img {
		width: 64px;
	}

	.about .about-content {
		grid-template-columns: 1fr;
		gap: 48px;
	}

	.about .about-content .about-topics {
		gap: 28px;
	}
	.about .about-content .about-topics h3 {
		font-size: 1.8rem;
	}
	.about .about-content .about-topics ul li {
		font-size: 1.6rem;
	}
}
/* END ABOUT PANCS */

/* PANCS */
.pancs {
	width: 100%;
	padding: 48px 96px 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 112px;
}

.pancs h2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	font-size: 4.8rem;
	text-align: center;
	font-family: var(--ff-ubuntu);
}
.pancs h2::after {
	width: 60%;
	content: "";
	height: 6px;
	display: block;
	border-radius: 6px;
	background-color: var(--vine);
}

.pancs :is(.pancs-carousel, .pancs-list) {
	width: 100%;
}

.pancs .pancs-carousel {
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	gap: 24px;
}

.pancs .pancs-carousel :is(.control-prev, .control-next) {
	width: 56px;
	height: 56px;
	z-index: 10;
	cursor: pointer;
	position: absolute;
}
.pancs .pancs-carousel .control-prev {
	left: 0;
}
.pancs .pancs-carousel .control-next {
	right: 0;
}

.pancs .pancs-carousel .pancs-list {
	display: flex;
	justify-content: flex-start;
	gap: 36px;
	margin-left: 80px;
	margin-right: 80px;
	overflow: visible;
	transition: transform 0.3s ease-in-out;
}

.pancs .pancs-carousel .pancs-list .panc-item {
	display: flex;
	flex-direction: column;
	gap: 24px;
	cursor: pointer;
}

.pancs .pancs-carousel .pancs-list .panc-item picture {
	width: 248px;
	height: 248px;
}
.pancs .pancs-carousel .pancs-list .panc-item picture img {
	border-radius: 8px;
}

.pancs .pancs-carousel .pancs-list .panc-item h3 {
	font-size: 2.4rem;
	color: var(--dark-green);
	font-family: var(--ff-nunito);
}

@media (max-width: 768px) {
	.pancs {
		padding: 36px 48px 48px;
		gap: 84px;
	}

	.pancs h2 {
		font-size: 3.8rem;
	}

	.pancs .pancs-carousel :is(.control-prev, .control-next) {
		display: none;
	}

	.pancs .pancs-carousel .pancs-list {
		gap: 28px;
		margin-left: 0px;
		margin-right: 0px;
		padding: 20px 0;
		overflow-x: scroll;
	}

	.pancs .pancs-carousel .pancs-list .panc-item {
		gap: 18px;
	}

	.pancs .pancs-carousel .pancs-list .panc-item picture {
		width: 168px;
		height: 168px;
	}

	.pancs .pancs-carousel .pancs-list .panc-item h3 {
		font-size: 1.8rem;
	}
}

@media (max-width: 425px) {
	.pancs {
		padding: 24px 36px 36px;
		gap: 48px;
	}

	.pancs h2 {
		font-size: 3.2rem;
	}

	.pancs .pancs-carousel .pancs-list .panc-item picture {
		width: 124px;
		height: 124px;
	}
}
/* END PANCS */

/* APP USER */
.app-user {
	width: 100%;
	padding: 128px 96px;
	display: flex;
	gap: 96px;
	background-color: var(--vine);
}

.app-user .text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: var(--white);
}

.app-user .text h2 {
	font-size: 4.8rem;
	font-family: var(--ff-ubuntu);
}

.app-user .text p {
	font-size: 3rem;
	font-family: var(--ff-nunito);
}

.app-user .text .download-buttons {
	display: flex;
	gap: 24px;
}

.app-user .text .download-buttons img {
	height: 62px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.app-user {
		padding: 64px;
		gap: 48px;
	}

	.app-user .text {
		gap: 24px;
	}

	.app-user .text h2 {
		font-size: 3.8rem;
	}

	.app-user .text p {
		font-size: 2rem;
	}

	.app-user .text .download-buttons {
		flex-wrap: wrap;
	}

	.app-user .text .download-buttons img {
		height: 44px;
	}
}

@media (max-width: 425px) {
	.app-user {
		padding: 48px;
		gap: 36px;
		flex-direction: column-reverse;
	}
}
/* END APP USER */

/* ABOUT RECIPES */
.about-recipes {
	width: 100%;
	padding: 96px 96px 48px;
	color: var(--white);
	background-color: var(--dark-green);
}

.about-recipes .recipe-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-recipes .recipe-title h2 {
	font-size: 4.8rem;
	font-family: var(--ff-ubuntu);
}

.about-recipes p {
	font-size: 2.4rem;
	font-family: var(--ff-nunito);
}

@media (max-width: 768px) {
	.about-recipes {
		padding: 48px 48px 36px;
		display: flex;
		flex-direction: column;
		gap: 26px;
	}

	.about-recipes .recipe-title h2 {
		font-size: 3.8rem;
	}

	.about-recipes .recipe-title img {
		width: 84px;
	}

	.about-recipes p {
		font-size: 1.8rem;
	}
}

@media (max-width: 425px) {
	.about-recipes {
		padding: 36px 36px 24px;
	}

	.about-recipes .recipe-title h2 {
		font-size: 3.2rem;
	}

	.about-recipes .recipe-title img {
		width: 64px;
	}

	.about-recipes p {
		font-size: 1.6rem;
	}
}
/* END ABOUT RECIPES */

/* RECIPES */
.recipes {
	width: 100%;
	padding: 48px 96px 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 112px;
	color: var(--white);
	background-color: var(--dark-green);
}

.recipes h2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	font-size: 4.8rem;
	text-align: center;
	font-family: var(--ff-ubuntu);
}
.recipes h2::after {
	width: 60%;
	content: "";
	height: 6px;
	display: block;
	border-radius: 6px;
	background-color: var(--vine);
}

.recipes :is(.recipes-carousel, .recipes-list) {
	width: 100%;
}

.recipes .recipes-carousel {
	overflow: hidden;
	position: relative;
	display: flex;
	align-items: center;
	gap: 24px;
}

.recipes .recipes-carousel :is(.control-prev, .control-next) {
	width: 56px;
	height: 56px;
	z-index: 10;
	cursor: pointer;
	position: absolute;
}
.recipes .recipes-carousel .control-prev {
	left: 0;
}
.recipes .recipes-carousel .control-next {
	right: 0;
}

.recipes .recipes-carousel .recipes-list {
	display: flex;
	justify-content: flex-start;
	gap: 36px;
	margin-left: 80px;
	margin-right: 80px;
	overflow: visible;
	transition: transform 0.3s ease-in-out;
}

.recipes .recipes-carousel .recipes-list .recipe-item {
	display: flex;
	flex-direction: column;
	gap: 24px;
	font-family: var(--ff-nunito);
}

.recipes .recipes-carousel .recipes-list .recipe-item picture {
	width: 248px;
	height: 248px;
	cursor: pointer;
}
.recipes .recipes-carousel .recipes-list .recipe-item picture img {
	border-radius: 8px;
}

.recipes .recipes-carousel .recipes-list .recipe-item .text {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.recipes .recipes-carousel .recipes-list .recipe-item h3 {
	font-size: 2.4rem;
}
.recipes .recipes-carousel .recipes-list .recipe-item a {
	font-weight: 700;
	font-size: 2.2rem;
	color: var(--light-green);
	cursor: pointer;
}
.recipes .recipes-carousel .recipes-list .recipe-item a img {
	width: 22px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.recipes {
		padding: 36px 48px 48px;
		gap: 84px;
	}

	.recipes h2 {
		font-size: 3.8rem;
	}

	.recipes .recipes-carousel :is(.control-prev, .control-next) {
		display: none;
	}

	.recipes .recipes-carousel .recipes-list {
		gap: 28px;
		margin-left: 0;
		margin-right: 0;
		padding: 20px 0;
		overflow-x: scroll;
	}

	.recipes .recipes-carousel .recipes-list .recipe-item {
		gap: 16px;
	}

	.recipes .recipes-carousel .recipes-list .recipe-item picture {
		width: 168px;
		height: 168px;
	}

	.recipes .recipes-carousel .recipes-list .recipe-item h3 {
		font-size: 1.8rem;
	}

	.recipes .recipes-carousel .recipes-list .recipe-item a {
		font-size: 1.6rem;
	}

	.recipes .recipes-carousel .recipes-list .recipe-item a img {
		width: 16px;
	}
}

@media (max-width: 425px) {
	.recipes {
		padding: 24px 36px 36px;
		gap: 48px;
	}

	.recipes h2 {
		font-size: 3.2rem;
	}

	.recipes .recipes-carousel .recipes-list .recipe-item picture {
		width: 124px;
		height: 124px;
	}
}
/* END RECIPES */

/* APP FARMER */
.app-farmer {
	width: 100%;
	padding: 128px 96px;
	display: flex;
	gap: 96px;
	background-color: var(--vine);
}

.app-farmer .text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: var(--white);
}

.app-farmer .text h2 {
	font-size: 4.8rem;
	font-family: var(--ff-ubuntu);
}

.app-farmer .text p {
	font-size: 3rem;
	font-family: var(--ff-nunito);
}

.app-farmer .text .download-buttons {
	display: flex;
	gap: 24px;
}

.app-farmer .text .download-buttons img {
	height: 62px;
	cursor: pointer;
}

@media (max-width: 768px) {
	.app-farmer {
		padding: 64px;
		gap: 48px;
	}

	.app-farmer .text {
		gap: 24px;
	}

	.app-farmer .text h2 {
		font-size: 3.8rem;
	}

	.app-farmer .text p {
		font-size: 2rem;
	}

	.app-farmer .text .download-buttons {
		flex-wrap: wrap;
	}

	.app-farmer .text .download-buttons img {
		height: 44px;
	}
}

@media (max-width: 425px) {
	.app-farmer {
		padding: 48px;
		gap: 36px;
		flex-direction: column-reverse;
	}
}
/* END APP FARMER */
