<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris</title>

		<link rel="icon" href="/assets/img/logos/3_osiris.png" type="image/png" />
		<link rel="stylesheet" href="/assets/css/recipe-create.css" />
		<script src="/assets/js/recipe-create.js" defer></script>
	</head>
	<body>
		<div id="root">
			<header class="header-green">
				<picture>
					<img src="/assets/img/logos/crop_1_osiris_white.png" alt="Osiris" />
				</picture>

				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pancs">PANCs</a></li>
						<li><a href="/receitas" class="active">Receitas</a></li>
						{% if userId %}
						<li><a href="/perfil">Perfil</a></li>
						{% else %}
						<li><a href="/login" class="link-button">Login / Cadastro</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

			<main>
				<h1>{{ "Editar a receita" if recipe else "Cadastrar uma nova receita" }}</h1>
				<form method="post" enctype="multipart/form-data">
					<div class="input-container">
						<label for="recipe-img">Imagem demonstrativa:</label>
						<div class="input-container">
							{% if recipe %}
							<picture>
								<img src="{{ recipe.imagem }}" alt="" />
							</picture>
							<div class="rotate-icons">
								<img src="/assets/img/icons/rotate-right.svg" alt="rotate right" onclick="rotate()" />
								<img src="/assets/img/icons/rotate-left.svg" alt="rotate left" onclick="rotate()" />
							</div>
							{% endif %}
						</div>
						<input
							type="hidden"
							name="recipe-img_base64"
							id="recipe-img_base64"
							value="{{ recipe.imagem if recipe else '' }}"
						/>
						<input
							type="number"
							name="recipe-img_angle"
							id="recipe-img_angle"
							min="0"
							max="180"
							step="180"
							value="0"
							hidden
						/>
						<input type="file" name="recipe-img" id="recipe-img" accept=".png, .jpg, .jpeg" hidden />
						<button type="button" class="btn btn-light">Alterar imagem</button>
					</div>

					<div class="input-container">
						<label for="recipe-name">Nome:</label>
						<input
							type="text"
							name="recipe-name"
							id="recipe-name"
							placeholder="Digite o nome da receita"
							value="{{ recipe.nome if recipe else '' }}"
						/>
					</div>

					<div class="input-container">
						<label for="recipe-description">Descrição curta:</label>
						<textarea name="recipe-description" id="recipe-description" placeholder="Digite a descrição da receita">
{{ recipe.descricao if recipe else '' }}</textarea
						>
						<p class="text-right char-counter"><span>0</span>/120 caracteres</p>
					</div>

					<div class="input-container">
						<label for="recipe-pancs">PANCs:</label>
						<div class="fields fields-panc">
							{% if recipe %} {% for panc in recipe.pancs %}
							<select name="recipe-pancs[]">
								{% for name in pancs %} {% set selected = 'selected' if panc == name else '' %}
								<option value="{{ name }}" {{ selected }}>{{ name }}</option>
								{% endfor %}
							</select>
							{% endfor %} {% else %}
							<select name="recipe-pancs[]">
								{% for name in pancs %}
								<option value="{{ name }}">{{ name }}</option>
								{% endfor %}
							</select>
							{% endif %}
						</div>
						<p class="text-right" id="add-panc">+ Adicionar campo</p>
						<p class="text-right" id="remove-panc">Remover o último campo</p>
					</div>

					<div class="input-container">
						<label for="recipe-ingredients">Ingredientes (colocar medida):</label>
						<div class="fields fields-ingredient">
							{% if recipe %} {% for ingredient in recipe.ingredientes %}
							<input
								type="text"
								name="recipe-ingredients[]"
								placeholder="Exemplo: 1 colher de sal"
								value="{{ ingredient }}"
							/>
							{% endfor %} {% else %}
							<input type="text" name="recipe-ingredients[]" placeholder="Exemplo: 1 colher de sal" />
							{% endif %}
						</div>
						<p class="text-right" id="add-ingredient">+ Adicionar campo</p>
						<p class="text-right" id="remove-ingredient">Remover o último campo</p>
					</div>

					<div class="input-container">
						<label for="recipe-prepare">Modo de preparo (separado em passos):</label>
						<div class="fields fields-prepare">
							{% if recipe %} {% for prepare in recipe.preparo %}
							<div>
								<h3><span>{{ loop.index }}</span>° Passo</h3>
								<textarea name="recipe-prepare[]" placeholder="Exemplo: Misture todos os ingredientes secos">
{{ prepare }}
								</textarea
								>
							</div>
							{% endfor %} {% else %}
							<div>
								<h3><span>1</span>° Passo</h3>
								<textarea name="recipe-prepare[]" placeholder="Exemplo: Misture todos os ingredientes secos"></textarea>
							</div>
							{% endif %}
						</div>
						<p class="text-right" id="add-prepare">+ Adicionar campo</p>
						<p class="text-right" id="remove-prepare">Remover o último campo</p>
					</div>

					<div class="buttons">
						{% if recipe %}
						<button
							type="reset"
							onclick="redirect('/receitas/{{ recipe._id }}/excluir')"
							class="btn btn-vine cancel-button"
						>
							Excluir
						</button>
						<button type="reset" onclick="redirect('/receitas/{{ recipe._id }}')" class="btn btn-vine cancel-button">
							Cancelar
						</button>
						<button type="submit" class="btn btn-light submit-button">Editar</button>
						{% else %}
						<button type="reset" onclick="redirect('/receitas/')" class="btn btn-vine cancel-button">Cancelar</button>
						<button type="submit" class="btn btn-light submit-button">Cadastrar</button>
						{% endif %}
					</div>
				</form>
			</main>

			<footer>
				<section class="content">
					<picture>
						<img src="/assets/img/logos/3_osiris_white.png" alt="Osiris" />
					</picture>

					<section class="footer-links">
						<h3>Navegue pelo site</h3>

						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/pancs">PANCs</a></li>
							<li><a href="/receitas">RECEITAS</a></li>
							<li><a href="/perfil">PERFIL</a></li>
						</ul>
					</section>

					<section class="footer-app">
						<h3>Baixe nosso App</h3>

						<p>
							Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
							próximos à você!
						</p>

						<div class="download-buttons">
							<img src="/assets/img/download-play-store.png" alt="download play store" />
							<img src="/assets/img/download-apple-store.png" alt="download apple store" />
						</div>
					</section>
				</section>

				<section class="copyright">
					<p>Made by Papaya</p>
				</section>
			</footer>
		</div>
	</body>
</html>
