<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris</title>

		<link rel="icon" href="assets/img/logos/3_osiris.png" type="image/png" />
		<link rel="stylesheet" href="assets/css/home.css" />
		<script src="assets/js/home.js" defer></script>
	</head>
	<body>
		<div id="root">
			<header class="header-white">
				<picture>
					<img src="assets/img/logos/crop_1_osiris.png" alt="Osiris" />
				</picture>

				<nav>
					<ul>
						<li><a href="/" class="active">Home</a></li>
						<li><a href="/pancs">PANCs</a></li>
						<li><a href="/receitas">Receitas</a></li>
						<li><a href="/login" class="link-button">Login / Cadastro</a></li>
					</ul>
				</nav>
			</header>

			<section class="hero">
				<h1>
					A alimentação
					<br /><span>não convencional</span><br />
					para uma saúde
					<br /><span>excepcional!</span><br />
				</h1>

				<img src="assets/img/logos/crop_2_osiris_white.png" alt="Osiris" />
			</section>

			<section class="about">
				<section class="about-title">
					<h2>Sobre a ideia</h2>
					<img src="assets/img/icons/leaf-filled-soft.svg" alt="leaf filled" />
				</section>
				<section class="about-content">
					<div class="about-topics">
						<h3>
							<img src="assets/img/icons/star-circle.svg" alt="star circle" />
							Alimentação saudável
						</h3>

						<ul>
							<li>
								<img src="assets/img/icons/alert-circle.svg" alt="alert circle" />
								Propriedades nutricionais importantes
							</li>
							<li>
								<img src="assets/img/icons/alert-circle.svg" alt="alert circle" />
								Redução do risco de doenças crônicas
							</li>
							<li>
								<img src="assets/img/icons/alert-circle.svg" alt="alert circle" />
								Aumento de imunidade
							</li>
						</ul>
					</div>
					<div class="about-topics">
						<h3>
							<img src="assets/img/icons/star-circle.svg" alt="star circle" />
							Estilo de Vida Sustentável
						</h3>

						<ul>
							<li>
								<img src="assets/img/icons/alert-circle.svg" alt="alert circle" />
								Modo de cultivo em ambiente doméstico
							</li>
							<li>
								<img src="assets/img/icons/alert-circle.svg" alt="alert circle" />
								Variedade de receitas
							</li>
							<li>
								<img src="assets/img/icons/alert-circle.svg" alt="alert circle" />
								Opções variadas
							</li>
						</ul>
					</div>
				</section>
			</section>

			<section class="pancs">
				<h2>PANCs em Destaque</h2>

				<section class="pancs-carousel">
					<img
						class="control-prev"
						src="assets/img/icons/chevron-back-circle-outline.svg"
						alt="chevron back circle outline"
					/>

					<section class="pancs-list">
						{% for panc in pancs %}
						<article class="panc-item" id="{{ panc._id }}">
							<picture>
								<img src="{{ panc.imagem }}" alt="{{ panc.nome }}" />
							</picture>
							<h3>{{ panc.nome }}</h3>
						</article>
						{% endfor %}
					</section>

					<img
						class="control-next"
						src="assets/img/icons/chevron-forward-circle-outline.svg"
						alt="chevron forward circle outline"
					/>
				</section>
			</section>

			<section class="app-user">
				<section class="text">
					<h2>Baixe o nosso app</h2>
					<p>
						Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
						próximos à você!
					</p>
					<div class="download-buttons">
						<img src="assets/img/download-play-store.png" alt="download play store" />
						<img src="assets/img/download-apple-store.png" alt="download apple store" />
					</div>
				</section>

				<picture class="mockups">
					<img src="assets/img/mockups-user.png" alt="mockups user app" />
				</picture>
			</section>

			<section class="about-recipes">
				<section class="recipe-title">
					<h2>As receitas</h2>
					<img src="assets/img/icons/restaurant-filled-soft.svg" alt="restaurant filled soft" />
				</section>
				<p>
					Além disso, o projeto também oferecerá uma grande variedade de receitas que utilizam as PANCs como
					ingredientes principais, mostrando aos usuários que é possível incorporar essas plantas em sua alimentação
					diária de uma forma saborosa e criativa. As receitas variam desde pratos principais até sobremesas, para que
					haja opções para todos os gostos e estilos alimentares.
				</p>
			</section>

			<section class="recipes">
				<h2>Receitas mais curtidas</h2>

				<section class="recipes-carousel">
					<img
						class="control-prev"
						src="assets/img/icons/chevron-back-circle-outline-white.svg"
						alt="chevron back circle outline"
					/>

					<section class="recipes-list">
						{% for recipe in recipes %}
						<article class="recipe-item" id="{{ recipe._id }}">
							<picture>
								<img src="{{ recipe.imagem }}" alt="{{ recipe.nome }}" />
							</picture>
							<div class="text">
								<h3>{{ recipe.nome }}</h3>
								<p>
									{{ recipe.likes }} likes
									<img src="assets/img/icons/thumbs-up-outline-light-green.svg" alt="thumbs up outline light green" />
								</p>
							</div>
						</article>
						{% endfor %}
					</section>

					<img
						class="control-next"
						src="assets/img/icons/chevron-forward-circle-outline-white.svg"
						alt="chevron forward circle outline"
					/>
				</section>
			</section>

			<section class="app-farmer">
				<section class="text">
					<h2>Produtores locais</h2>
					<p>Anuncie suas PANCs cultivadas para diversos usuários, gerencie sua página e ganhe visibilidade!</p>
					<div class="download-buttons">
						<img src="assets/img/download-play-store.png" alt="download play store" />
						<img src="assets/img/download-apple-store.png" alt="download apple store" />
					</div>
				</section>

				<picture class="mockups">
					<img src="assets/img/mockups-farmer.png" alt="mockups farmer app" />
				</picture>
			</section>

			<footer>
				<section class="content">
					<picture>
						<img src="assets/img/logos/3_osiris_white.png" alt="Osiris" />
					</picture>

					<section class="footer-links">
						<h3>Navegue pelo site</h3>

						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/pancs">PANCs</a></li>
							<li><a href="/receitas">RECEITAS</a></li>
							<li><a href="/perfil">PERFIL</a></li>
						</ul>
					</section>

					<section class="footer-app">
						<h3>Baixe nosso App</h3>

						<p>
							Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
							próximos à você!
						</p>

						<div class="download-buttons">
							<img src="assets/img/download-play-store.png" alt="download play store" />
							<img src="assets/img/download-apple-store.png" alt="download apple store" />
						</div>
					</section>
				</section>

				<section class="copyright">
					<p>Made by Papaya</p>
				</section>
			</footer>
		</div>
	</body>
</html>
