<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris</title>

		<link rel="icon" href="assets/img/logos/3_osiris.png" type="image/png" />
		<link rel="stylesheet" href="assets/css/pancs.css" />
	</head>
	<body>
		<div id="root">
			<header class="header-green">
				<picture>
					<img src="assets/img/logos/crop_1_osiris_white.png" alt="Osiris" />
				</picture>

				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pancs" class="active">PANCs</a></li>
						<li><a href="/receitas">Receitas</a></li>
						<li><a href="/login" class="link-button">Login / Cadastro</a></li>
					</ul>
				</nav>
			</header>

			<main>
				<form action="/pancs" method="post">
					<input type="search" name="search-panc" id="search-panc" placeholder="Busque por plantas" />
				</form>

				<section class="pancs">
					<h1>PANCs encontradas</h1>

					<section class="pancs-grid">
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/bertalha.jpg" alt="Bertalha" />
								<img class="favorite-icon" src="assets/img/icons/favorite-outline.svg" alt="favorite outline" />
							</picture>
							<h3>Bertalha</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/beldroega.jpg" alt="Beldroega" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Beldroega</h3>
						</article>
					</section>
				</section>

				<section class="pancs">
					<h1>PANCs</h1>

					<section class="pancs-grid">
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/azedinha.jpg" alt="Azedinha" />
								<img class="favorite-icon" src="assets/img/icons/favorite-outline.svg" alt="favorite outline" />
							</picture>
							<h3>Azedinha</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/beldroega.jpg" alt="Beldroega" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Beldroega</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/bertalha.jpg" alt="Bertalha" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Bertalha</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/capuchinha.jpg" alt="Capuchinha" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Capuchinha</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/caruru.jpg" alt="Caruru" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Caruru</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/jambu.jpg" alt="Jambu" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Jambu</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/ora-pro-nobis.jpg" alt="Ora-pro-nóbis" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Ora-pro-nóbis</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/peixinho.jpg" alt="Peixinho" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Peixinho</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/serralha.jpg" alt="Serralha" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Serralha</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/taioba.jpg" alt="Taioba" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Taioba</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/trapoeraba.jpg" alt="Trapoeraba" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Trapoeraba</h3>
						</article>
						<article class="panc-item">
							<picture>
								<img src="assets/img/pancs/vinagreira.jpg" alt="Vinagreira" />
								<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
							</picture>
							<h3>Vinagreira</h3>
						</article>
					</section>
				</section>
			</main>

			<footer>
				<section class="content">
					<picture>
						<img src="assets/img/logos/3_osiris_white.png" alt="Osiris" />
					</picture>

					<section class="footer-links">
						<h3>Navegue pelo site</h3>

						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/pancs">PANCs</a></li>
							<li><a href="/receitas">RECEITAS</a></li>
							<li><a href="/perfil">PERFIL</a></li>
						</ul>
					</section>

					<section class="footer-app">
						<h3>Baixe nosso App</h3>

						<p>
							Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
							próximos à você!
						</p>

						<div class="download-buttons">
							<img src="assets/img/download-play-store.png" alt="download play store" />
							<img src="assets/img/download-apple-store.png" alt="download apple store" />
						</div>
					</section>
				</section>

				<section class="copyright">
					<p>Made by Papaya</p>
				</section>
			</footer>
		</div>
	</body>
</html>
