<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris</title>

		<link rel="icon" href="assets/img/logos/3_osiris.png" type="image/png" />
		<link rel="stylesheet" href="assets/css/pancs.css" />
		<script type="module" src="/assets/js/pancs.js" defer></script>
		<script>
			async function favPanc(id, fav) {
				console.log("chego");
				await fetch("/api/panc/fav", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify({ id, fav }),
				});
				window.location.reload();
			}
		</script>
	</head>
	<body>
		<div id="root">
			<header class="header-green">
				<picture>
					<img src="assets/img/logos/crop_1_osiris_white.png" alt="Osiris" />
				</picture>

				<img class="menu-icon" src="/assets/img/icons/menu-white.svg" alt="menu icon" />
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pancs" class="active">PANCs</a></li>
						<li><a href="/receitas">Receitas</a></li>
						{% if userId %}
						<li><a href="/perfil">Perfil</a></li>
						{% else %}
						<li><a href="/login" class="link-button">Login / Cadastro</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

			<main>
				<form action="/pancs" method="post">
					<input type="search" name="search-panc" id="search-panc" placeholder="Busque por plantas" />
				</form>

				{% if search %}
				<section class="pancs">
					<h1>PANCs encontradas</h1>

					<section class="pancs-grid">
						{% for item in search %}
						<article class="panc-item" id="{{ item._id }}">
							<picture>
								<img src="{{ item.imagem }}" alt="{{ item.nome }}" />
								{% if item.is_favorite %}
								<a href="" onclick="favPanc('{{ item._id }}', false)">
									<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
								</a>
								{% else %}
								<a href="" onclick="favPanc('{{ item._id }}', true)">
									<img class="favorite-icon" src="assets/img/icons/favorite-outline.svg" alt="favorite outline" />
								</a>
								{% endif %}
							</picture>
							<h3>{{ item.nome }}</h3>
						</article>
						{% endfor %}
					</section>
				</section>
				{% endif %}

				<section class="pancs">
					<h1>PANCs</h1>

					<section class="pancs-grid">
						{% for panc in pancs %}
						<article class="panc-item" id="{{ panc._id }}">
							<picture>
								<img src="{{ panc.imagem }}" alt="{{ panc.nome }}" />
								{% if panc.is_favorite %}
								<a href="" onclick="favPanc('{{ panc._id }}', false)">
									<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
								</a>
								{% else %}
								<a href="" onclick="favPanc('{{ panc._id }}', true)">
									<img class="favorite-icon" src="assets/img/icons/favorite-outline.svg" alt="favorite outline" />
								</a>
								{% endif %}
							</picture>
							<h3>{{ panc.nome }}</h3>
						</article>
						{% endfor %}
					</section>
				</section>
			</main>

			<footer>
				<section class="content">
					<picture>
						<img src="assets/img/logos/3_osiris_white.png" alt="Osiris" />
					</picture>

					<section class="footer-links">
						<h3>Navegue pelo site</h3>

						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/pancs">PANCs</a></li>
							<li><a href="/receitas">RECEITAS</a></li>
							<li><a href="/perfil">PERFIL</a></li>
						</ul>
					</section>

					<section class="footer-app">
						<h3>Baixe nosso App</h3>

						<p>
							Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
							próximos à você!
						</p>

						<div class="download-buttons">
							<img src="assets/img/download-play-store.png" alt="download play store" />
							<img src="assets/img/download-apple-store.png" alt="download apple store" />
						</div>
					</section>
				</section>

				<section class="copyright">
					<p>Made by Papaya</p>
				</section>
			</footer>
		</div>
	</body>
</html>
