<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris</title>

		<link rel="icon" href="/assets/img/logos/3_osiris.png" type="image/png" />
		<link rel="stylesheet" href="/assets/css/panc.css" />
		<script src="/assets/js/global.js" defer></script>
	</head>
	<body>
		<div id="root">
			<header class="header-green">
				<picture>
					<img src="/assets/img/logos/crop_1_osiris_white.png" alt="Osiris" />
				</picture>

				<img class="menu-icon" src="/assets/img/icons/menu-white.svg" alt="menu icon" />
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pancs" class="active">PANCs</a></li>
						<li><a href="/receitas">Receitas</a></li>
						{% if userId %}
						<li><a href="/perfil">Perfil</a></li>
						{% else %}
						<li><a href="/login" class="link-button">Login / Cadastro</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

			<main>
				<section class="title">
					<section class="picture">
						<picture>
							<img src="{{ panc.imagem }}" alt="{{ panc.nome }}" />
						</picture>
						<a href="/pancs/{{ panc._id }}?fav={{ not panc.is_favorite }}" class="fav-button">
							{% if panc.is_favorite %} Favorita
							<img src="/assets/img/icons/heart-filled.svg" alt="heart filled" />
							{% else %} Favoritar
							<img src="/assets/img/icons/heart-outline.svg" alt="heart outline" />
							{% endif %}
						</a>
					</section>

					<section class="description">
						<h1>{{ panc.nome }}</h1>
						<p>{{ panc.descricao }}</p>
					</section>
				</section>

				<section class="text">
					<h2>Benefícios</h2>
					<p>{{ panc.beneficios }}</p>
				</section>

				<section class="text paragraph">
					<h2>Modo de cultivo</h2>
					{% for farm in panc.cultivo %}
					<p>{{ farm }}</p>
					{% endfor %}
				</section>
			</main>

			<footer>
				<section class="content">
					<picture>
						<img src="/assets/img/logos/3_osiris_white.png" alt="Osiris" />
					</picture>

					<section class="footer-links">
						<h3>Navegue pelo site</h3>

						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/pancs">PANCs</a></li>
							<li><a href="/receitas">RECEITAS</a></li>
							<li><a href="/perfil">PERFIL</a></li>
						</ul>
					</section>

					<section class="footer-app">
						<h3>Baixe nosso App</h3>

						<p>
							Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
							próximos à você!
						</p>

						<div class="download-buttons">
							<img src="/assets/img/download-play-store.png" alt="download play store" />
							<img src="/assets/img/download-apple-store.png" alt="download apple store" />
						</div>
					</section>
				</section>

				<section class="copyright">
					<p>Made by Papaya</p>
				</section>
			</footer>
		</div>
	</body>
</html>
