<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris</title>

		<link rel="icon" href="/assets/img/logos/3_osiris.png" type="image/png" />
		<link rel="stylesheet" href="/assets/css/perfil.css" />
		<script src="/assets/js/perfil.js" defer></script>
	</head>
	<body>
		<div id="root">
			<header class="header-green">
				<picture>
					<img src="/assets/img/logos/crop_1_osiris_white.png" alt="Osiris" />
				</picture>

				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pancs">PANCs</a></li>
						<li><a href="/receitas">Receitas</a></li>
						<li><a href="/perfil" class="active">Perfil</a></li>
					</ul>
				</nav>
			</header>

			<main>
				<section class="info">
					<picture>
						<img src="assets/img/icons/avatar.svg" alt="Avatar" />
					</picture>
					<h1>João da Silva</h1>
					<p>
						<img src="assets/img/icons/mail-outline.svg" alt="mail outline" />
						joao@gmail.com
					</p>
					<button class="btn btn-medium">
						Editar
						<img src="assets/img/icons/edit-filled.svg" alt="edit filled" />
					</button>
				</section>

				<section class="content">
					<section class="pancs">
						<h2>PANCs favoritas</h2>

						<section class="pancs-carousel">
							<img
								class="control-prev"
								src="assets/img/icons/chevron-back-circle-outline.svg"
								alt="chevron back circle outline"
							/>

							<section class="pancs-list">
								<article class="panc-item">
									<picture>
										<img src="assets/img/pancs/vinagreira.jpg" alt="Vinagreira" />
										<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
									</picture>
									<h3>Vinagreira</h3>
								</article>
								<article class="panc-item">
									<picture>
										<img src="assets/img/pancs/ora-pro-nobis.jpg" alt="Ora-pro-nóbis" />
										<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
									</picture>
									<h3>Ora-pro-nóbis</h3>
								</article>
								<article class="panc-item">
									<picture>
										<img src="assets/img/pancs/peixinho.jpg" alt="Peixinho" />
										<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
									</picture>
									<h3>Peixinho</h3>
								</article>
								<article class="panc-item">
									<picture>
										<img src="assets/img/pancs/trapoeraba.jpg" alt="Trapoeraba" />
										<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
									</picture>
									<h3>Trapoeraba</h3>
								</article>
								<article class="panc-item">
									<picture>
										<img src="assets/img/pancs/caruru.jpg" alt="Caruru" />
										<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
									</picture>
									<h3>Caruru</h3>
								</article>
							</section>

							<img
								class="control-next"
								src="assets/img/icons/chevron-forward-circle-outline.svg"
								alt="chevron forward circle outline"
							/>
						</section>
					</section>

					<section class="recipes">
						<h2>Receitas salvas</h2>

						<section class="recipes-carousel">
							<img
								class="control-prev"
								src="assets/img/icons/chevron-back-circle-outline.svg"
								alt="chevron back circle outline"
							/>

							<section class="recipes-list">
								<article class="recipe-item">
									<picture>
										<img src="assets/img/recipes/salada-amarga.jpg" alt="Salada amarga" />
										<img class="favorite-icon" src="assets/img/icons/save-recipe-filled.svg" alt="save recipe filled" />
									</picture>
									<h3>Salada amarga</h3>
								</article>
								<article class="recipe-item">
									<picture>
										<img src="assets/img/recipes/sopa-de-cevadinha.jpg" alt="Sopa de cevadinha" />
										<img class="favorite-icon" src="assets/img/icons/save-recipe-filled.svg" alt="save recipe filled" />
									</picture>
									<h3>Sopa de cevadinha</h3>
								</article>
								<article class="recipe-item">
									<picture>
										<img src="assets/img/recipes/suco-verde.jpg" alt="Suco verde" />
										<img class="favorite-icon" src="assets/img/icons/save-recipe-filled.svg" alt="save recipe filled" />
									</picture>
									<h3>Suco verde</h3>
								</article>
							</section>

							<img
								class="control-next"
								src="assets/img/icons/chevron-forward-circle-outline.svg"
								alt="chevron forward circle outline"
							/>
						</section>
					</section>

					<section class="created">
						<h2>Receitas criadas</h2>

						<section class="created-carousel">
							<img
								class="control-prev"
								src="assets/img/icons/chevron-back-circle-outline.svg"
								alt="chevron back circle outline"
							/>

							<section class="created-list">
								<article class="created-item">
									<picture>
										<img src="assets/img/recipes/salada-amarga.jpg" alt="Salada amarga" />
										<img class="favorite-icon" src="assets/img/icons/edit-button.svg" alt="edit button filled" />
									</picture>
									<h3>Salada amarga</h3>
								</article>
								<article class="created-item">
									<picture>
										<img src="assets/img/recipes/sopa-de-cevadinha.jpg" alt="Sopa de cevadinha" />
										<img class="favorite-icon" src="assets/img/icons/edit-button.svg" alt="edit button filled" />
									</picture>
									<h3>Sopa de cevadinha</h3>
								</article>
								<article class="created-item">
									<picture>
										<img src="assets/img/recipes/suco-verde.jpg" alt="Suco verde" />
										<img class="favorite-icon" src="assets/img/icons/edit-button.svg" alt="edit button filled" />
									</picture>
									<h3>Suco verde</h3>
								</article>
							</section>

							<img
								class="control-next"
								src="assets/img/icons/chevron-forward-circle-outline.svg"
								alt="chevron forward circle outline"
							/>
						</section>
					</section>
				</section>
			</main>

			<footer>
				<section class="content">
					<picture>
						<img src="/assets/img/logos/3_osiris_white.png" alt="Osiris" />
					</picture>

					<section class="footer-links">
						<h3>Navegue pelo site</h3>

						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/pancs">PANCs</a></li>
							<li><a href="/receitas">RECEITAS</a></li>
							<li><a href="/perfil">PERFIL</a></li>
						</ul>
					</section>

					<section class="footer-app">
						<h3>Baixe nosso App</h3>

						<p>
							Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
							próximos à você!
						</p>

						<div class="download-buttons">
							<img src="/assets/img/download-play-store.png" alt="download play store" />
							<img src="/assets/img/download-apple-store.png" alt="download apple store" />
						</div>
					</section>
				</section>

				<section class="copyright">
					<p>Made by Papaya</p>
				</section>
			</footer>
		</div>
	</body>
</html>
