<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris</title>

		<link rel="icon" href="/assets/img/logos/3_osiris.png" type="image/png" />
		<link rel="stylesheet" href="/assets/css/perfil.css" />
		<script type="module" src="/assets/js/perfil.js" defer></script>
		<script src="/assets/js/functions.js"></script>
	</head>
	<body>
		<div id="root">
			<header class="header-green">
				<picture>
					<img src="/assets/img/logos/crop_1_osiris_white.png" alt="Osiris" />
				</picture>

				<img class="menu-icon" src="/assets/img/icons/menu-white.svg" alt="menu icon" />
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pancs">PANCs</a></li>
						<li><a href="/receitas">Receitas</a></li>
						{% if userId %}
						<li><a href="/perfil" class="active">Perfil</a></li>
						{% else %}
						<li><a href="/login" class="link-button">Login / Cadastro</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

			<main>
				<section class="info">
					<picture>
						{% if user.imagem %}
						<img src="{{ user.imagem }}" alt="{{ user.nome }}" />
						{% else %}
						<img src="assets/img/icons/avatar.svg" alt="Avatar" />
						{% endif %}
					</picture>
					<h1>{{ user.nome }}</h1>
					<p>
						<img src="assets/img/icons/mail-outline.svg" alt="mail outline" />
						{{ user.email }}
					</p>
					<button class="btn btn-medium" onclick="redirect('/perfil/editar')">
						Editar
						<img src="assets/img/icons/edit-filled.svg" alt="edit filled" />
					</button>
					<button class="btn btn-medium" onclick="redirect('/logout')">
						Sair
						<img src="assets/img/icons/log-out-outline.svg" alt="log out outline" />
					</button>
				</section>

				<section class="content">
					{% if user.favoritos %}
					<section class="pancs">
						<h2>PANCs favoritas</h2>

						<section class="pancs-carousel">
							<img
								class="control-prev"
								src="assets/img/icons/chevron-back-circle-outline.svg"
								alt="chevron back circle outline"
							/>

							<section class="pancs-list">
								{% for p in user.favoritos %}
								<article class="panc-item" id="{{ p._id }}">
									<picture>
										<img src="{{ p.imagem }}" alt="{{ p.nome }}" />
										<a href="" onclick="favPanc('{{ p._id }}', false)">
											<img class="favorite-icon" src="assets/img/icons/favorite-filled.svg" alt="favorite filled" />
										</a>
									</picture>
									<h3>{{ p.nome }}</h3>
								</article>
								{% endfor %}
							</section>

							<img
								class="control-next"
								src="assets/img/icons/chevron-forward-circle-outline.svg"
								alt="chevron forward circle outline"
							/>
						</section>
					</section>
					{% endif %} {% if user.salvos %}
					<section class="recipes">
						<h2>Receitas salvas</h2>

						<section class="recipes-carousel">
							<img
								class="control-prev"
								src="assets/img/icons/chevron-back-circle-outline.svg"
								alt="chevron back circle outline"
							/>

							<section class="recipes-list">
								{% for s in user.salvos %}
								<article class="recipe-item" id="{{ s._id }}">
									<picture>
										<img src="{{ s.imagem }}" alt="{{ s.nome }}" />
										<a href="" onclick="favRecipe('{{ s._id }}', false)">
											<img
												class="favorite-icon"
												src="assets/img/icons/save-recipe-filled.svg"
												alt="save recipe filled"
											/>
										</a>
									</picture>
									<h3>{{ s.nome }}</h3>
								</article>
								{% endfor %}
							</section>

							<img
								class="control-next"
								src="assets/img/icons/chevron-forward-circle-outline.svg"
								alt="chevron forward circle outline"
							/>
						</section>
					</section>
					{% endif %} {% if user.receitas %}
					<section class="created">
						<h2>Receitas criadas</h2>

						<section class="created-carousel">
							<img
								class="control-prev"
								src="assets/img/icons/chevron-back-circle-outline.svg"
								alt="chevron back circle outline"
							/>

							<section class="created-list">
								{% for r in user.receitas %}
								<article class="created-item" id="{{ r._id }}">
									<picture>
										<img src="{{ r.imagem }}" alt="{{ r.nome }}" />
										<a href="/receitas/{{ r._id }}/editar">
											<img class="favorite-icon" src="assets/img/icons/edit-button.svg" alt="edit button filled" />
										</a>
									</picture>
									<h3>{{ r.nome }}</h3>
								</article>
								{% endfor %}
							</section>

							<img
								class="control-next"
								src="assets/img/icons/chevron-forward-circle-outline.svg"
								alt="chevron forward circle outline"
							/>
						</section>
					</section>
					{% endif %}
				</section>
			</main>

			<footer>
				<section class="content">
					<picture>
						<img src="assets/img/logos/3_osiris_white.png" alt="Osiris" />
					</picture>

					<section class="footer-links">
						<h3>Navegue pelo site</h3>

						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/pancs">PANCs</a></li>
							<li><a href="/receitas">RECEITAS</a></li>
							<li><a href="/perfil">PERFIL</a></li>
						</ul>
					</section>

					<section class="footer-app">
						<h3>Baixe nosso App</h3>

						<p>
							Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
							próximos à você!
						</p>

						<div class="download-buttons">
							<img src="assets/img/download-play-store.png" alt="download play store" />
							<img src="assets/img/download-apple-store.png" alt="download apple store" />
						</div>
					</section>
				</section>

				<section class="copyright">
					<p>Made by Papaya</p>
				</section>
			</footer>
		</div>
	</body>
</html>
