<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris</title>

		<link rel="icon" href="assets/img/logos/3_osiris.png" type="image/png" />
		<link rel="stylesheet" href="assets/css/recipes.css" />
		<script type="module" src="assets/js/recipes.js" defer></script>
		<script src="/assets/js/functions.js"></script>
	</head>
	<body>
		<div id="root">
			<header class="header-green">
				<picture>
					<img src="assets/img/logos/crop_1_osiris_white.png" alt="Osiris" />
				</picture>

				<img class="menu-icon" src="/assets/img/icons/menu-white.svg" alt="menu icon" />
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pancs">PANCs</a></li>
						<li><a href="/receitas" class="active">Receitas</a></li>
						{% if userId %}
						<li><a href="/perfil">Perfil</a></li>
						{% else %}
						<li><a href="/login" class="link-button">Login / Cadastro</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

			<main>
				<section class="actions">
					<form action="/receitas" method="post">
						<input type="search" name="search-recipe" id="search-recipe" placeholder="Busque por plantas ou receitas" />
					</form>

					<button class="btn btn-medium create-recipe">Criar uma nova receita</button>
				</section>

				{% if search %}
				<section class="recipes">
					<h1>Receitas encontradas</h1>

					<section class="recipes-grid">
						{% for item in search %}
						<article class="recipe-item" id="{{ item._id }}">
							<picture>
								<img src="{{ item.imagem }}" alt="{{ item.nome }}" />
								{% if item.is_favorite %}
								<a href="" onclick="favRecipe('{{ item._id }}', false)">
									<img class="favorite-icon" src="assets/img/icons/save-recipe-filled.svg" alt="save recipe filled" />
								</a>
								{% else %}
								<a href="" onclick="favRecipe('{{ item._id }}', true)">
									<img class="favorite-icon" src="assets/img/icons/save-recipe-outline.svg" alt="save recipe outline" />
								</a>
								{% endif %}
							</picture>
							<div class="text">
								<h3>{{ item.nome }}</h3>
								<a href="" onclick="likeRecipe('{{ item._id }}')" class="like-button">
									{{ item.likes }} likes
									<img src="assets/img/icons/thumbs-up-outline-light-green.svg" alt="thumbs up outline light green" />
								</a>
								<ul>
									{% for panc in item.pancs %}
									<li>
										<img src="assets/img/icons/leaf-filled.svg" alt="leaf filled" />
										{{ panc }}
									</li>
									{% endfor %}
								</ul>
							</div>
						</article>
						{% endfor %}
					</section>
				</section>
				{% endif %}

				<section class="recipes">
					<h1>Receitas</h1>

					<section class="recipes-grid">
						{% for recipe in recipes %}
						<article class="recipe-item" id="{{ recipe._id }}">
							<picture>
								<img src="{{ recipe.imagem }}" alt="{{ recipe.nome }}" />
								{% if recipe.is_favorite %}
								<a href="" onclick="favRecipe('{{ recipe._id }}', false)">
									<img class="favorite-icon" src="assets/img/icons/save-recipe-filled.svg" alt="save recipe filled" />
								</a>
								{% else %}
								<a href="" onclick="favRecipe('{{ recipe._id }}', true)">
									<img class="favorite-icon" src="assets/img/icons/save-recipe-outline.svg" alt="save recipe outline" />
								</a>
								{% endif %}
							</picture>
							<div class="text">
								<h3>{{ recipe.nome }}</h3>
								<a href="" onclick="likeRecipe('{{ recipe._id }}')" class="like-button">
									{{ recipe.likes }} likes
									<img src="assets/img/icons/thumbs-up-outline-light-green.svg" alt="thumbs up outline light green" />
								</a>
								<ul>
									{% for panc in recipe.pancs %}
									<li>
										<img src="assets/img/icons/leaf-filled.svg" alt="leaf filled" />
										{{ panc }}
									</li>
									{% endfor %}
								</ul>
							</div>
						</article>
						{% endfor %}
					</section>
				</section>
			</main>

			<footer>
				<section class="content">
					<picture>
						<img src="assets/img/logos/3_osiris_white.png" alt="Osiris" />
					</picture>

					<section class="footer-links">
						<h3>Navegue pelo site</h3>

						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/pancs">PANCs</a></li>
							<li><a href="/receitas">RECEITAS</a></li>
							<li><a href="/perfil">PERFIL</a></li>
						</ul>
					</section>

					<section class="footer-app">
						<h3>Baixe nosso App</h3>

						<p>
							Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
							próximos à você!
						</p>

						<div class="download-buttons">
							<img src="assets/img/download-play-store.png" alt="download play store" />
							<img src="assets/img/download-apple-store.png" alt="download apple store" />
						</div>
					</section>
				</section>

				<section class="copyright">
					<p>Made by Papaya</p>
				</section>
			</footer>
		</div>
	</body>
</html>
