<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris</title>

		<link rel="icon" href="/assets/img/logos/3_osiris.png" type="image/png" />
		<link rel="stylesheet" href="/assets/css/recipe.css" />
	</head>
	<body>
		<div id="root">
			<header class="header-green">
				<picture>
					<img src="/assets/img/logos/crop_1_osiris_white.png" alt="Osiris" />
				</picture>

				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pancs">PANCs</a></li>
						<li><a href="/receitas" class="active">Receitas</a></li>
						<li><a href="/login" class="link-button">Login / Cadastro</a></li>
					</ul>
				</nav>
			</header>

			<main>
				<section class="title">
					<section class="picture">
						<picture>
							<img src="/assets/img/recipes/sopa-de-cevadinha.jpg" alt="Ora-pro-nóbis" />
						</picture>
						<a href="/receitas/sopa-de-cevadinha?save=true" class="fav-button">
							Salvar
							<img src="/assets/img/icons/bookmark-outline.svg" alt="bookmark outline" />
						</a>
						<a href="/receitas/sopa-de-cevadinha?like=true" class="fav-button">
							12,8k likes
							<img src="/assets/img/icons/thumbs-up-outline-medium-green.svg" alt="thumbs up outline light green" />
						</a>
					</section>

					<section class="description">
						<h1>Sopa de cevadinha</h1>
						<p>
							Nessa sopa, a ora-pro-nóbis é combinada com cevadinha, linguiça, bacon, cenoura, batata, tomate e
							alho-poró, além de ervas e temperos.
						</p>
						<ul>
							<li>
								<img src="/assets/img/icons/leaf-filled.svg" alt="leaf filled" />
								Ora-pro-nóbis
							</li>
						</ul>
					</section>
				</section>

				<section class="text">
					<h2>Ingredientes</h2>
					<ul>
						<li>Linguiça picada a gosto</li>
						<li>Bacon picado a gosto</li>
						<li>Cebola desidratada a gosto</li>
						<li>Alho-poró desidratado a gosto</li>
						<li>Chimichuri a gosto</li>
						<li>Gengibre a gosto</li>
						<li>Cúrcuma a gosto</li>
						<li>Mostarda em pó a gosto</li>
						<li>1 folha de louro</li>
						<li>3 cenouras pequenas picadinhas</li>
						<li>4 batatas médias picadinhas</li>
						<li>1 tomate picadinho</li>
						<li>Alho-poró picado a gosto</li>
						<li>1 xícara de cevadinha</li>
						<li>3 xícaras de água filtrada</li>
						<li>1 punhado de ora-pro-nóbis picado</li>
						<li>Sal a gosto</li>
						<li>Salsinha picada a gosto</li>
					</ul>
				</section>

				<section class="text">
					<h2>Modo de preparo</h2>
					<ol>
						<li>Em uma panela, frite a linguiça na própria gordura até dourar e reserve.</li>
						<li>Na mesma panela, frite o bacon até dourar e reserve.</li>
						<li>
							Retorne a panela ao fogo e refogue a cebola desidratada com alho-poró desidratado, chimichurri, gengibre,
							cúrcuma, mostarda em pó e louro.
						</li>
						<li>Adicione a cenoura, batata, tomate e alho-poró e refogue rapidamente.</li>
						<li>Reserve tudo em um recipiente separado e retorne a panela ao fogo.</li>
						<li>Coloque a cevadinha e a água e cozinhe por cerca de 30 minutos.</li>
						<li>Quando a cevadinha estiver bem cozida, retorne à panela os legumes, o bacon e a linguiça.</li>
						<li>Acrescente o ora-pro-nóbis e cozinhe por cerca de 10 minutos.</li>
						<li>Tempere com sal e finalize com salsinha.</li>
						<li>Agora é só servir! Bom apetite.</li>
					</ol>
				</section>
			</main>

			<footer>
				<section class="content">
					<picture>
						<img src="/assets/img/logos/3_osiris_white.png" alt="Osiris" />
					</picture>

					<section class="footer-links">
						<h3>Navegue pelo site</h3>

						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/pancs">PANCs</a></li>
							<li><a href="/receitas">RECEITAS</a></li>
							<li><a href="/perfil">PERFIL</a></li>
						</ul>
					</section>

					<section class="footer-app">
						<h3>Baixe nosso App</h3>

						<p>
							Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
							próximos à você!
						</p>

						<div class="download-buttons">
							<img src="/assets/img/download-play-store.png" alt="download play store" />
							<img src="/assets/img/download-apple-store.png" alt="download apple store" />
						</div>
					</section>
				</section>

				<section class="copyright">
					<p>Made by Papaya</p>
				</section>
			</footer>
		</div>
	</body>
</html>
