<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris</title>

		<link rel="icon" href="/assets/img/logos/3_osiris.png" type="image/png" />
		<link rel="stylesheet" href="/assets/css/recipe.css" />
		<script src="/assets/js/global.js" defer></script>
	</head>
	<body>
		<div id="root">
			<header class="header-green">
				<picture>
					<img src="/assets/img/logos/crop_1_osiris_white.png" alt="Osiris" />
				</picture>

				<img class="menu-icon" src="/assets/img/icons/menu-white.svg" alt="menu icon" />
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/pancs">PANCs</a></li>
						<li><a href="/receitas" class="active">Receitas</a></li>
						{% if userId %}
						<li><a href="/perfil">Perfil</a></li>
						{% else %}
						<li><a href="/login" class="link-button">Login / Cadastro</a></li>
						{% endif %}
					</ul>
				</nav>
			</header>

			<main>
				<section class="title">
					<section class="picture">
						<picture>
							<img src="{{ recipe.imagem }}" alt="{{ recipe.nome }}" />
						</picture>
						{% if recipe.author %}
						<a href="/receitas/{{ recipe._id }}/editar" class="fav-button">
							Editar
							<img src="/assets/img/icons/edit.svg" alt="edit icon" />
						</a>
						{% endif %}
						<a href="/receitas/{{ recipe._id }}?save={{ not recipe.is_favorite }}" class="fav-button">
							{% if recipe.is_favorite %} Salva
							<img src="/assets/img/icons/bookmark-filled.svg" alt="bookmark filled" />
							{% else %} Salvar
							<img src="/assets/img/icons/bookmark-outline.svg" alt="bookmark outline" />
							{% endif %}
						</a>
						<a href="/receitas/{{ recipe._id }}?like=true" class="fav-button">
							{{ recipe.likes }} likes
							<img src="/assets/img/icons/thumbs-up-outline-medium-green.svg" alt="thumbs up outline medium green" />
						</a>
					</section>

					<section class="description">
						<h1>{{ recipe.nome }}</h1>
						<p>{{ recipe.descricao }}</p>
						<ul>
							{% for panc in recipe.pancs %}
							<li>
								<img src="/assets/img/icons/leaf-filled.svg" alt="leaf filled" />
								{{ panc }}
							</li>
							{% endfor %}
						</ul>
					</section>
				</section>

				<section class="text">
					<h2>Ingredientes</h2>
					<ul>
						{% for ingrediente in recipe.ingredientes %}
						<li>{{ ingrediente }}</li>
						{% endfor %}
					</ul>
				</section>

				<section class="text">
					<h2>Modo de preparo</h2>
					<ol>
						{% for preparo in recipe.preparo %}
						<li>{{ preparo }}</li>
						{% endfor %}
					</ol>
				</section>
			</main>

			<footer>
				<section class="content">
					<picture>
						<img src="/assets/img/logos/3_osiris_white.png" alt="Osiris" />
					</picture>

					<section class="footer-links">
						<h3>Navegue pelo site</h3>

						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/pancs">PANCs</a></li>
							<li><a href="/receitas">RECEITAS</a></li>
							<li><a href="/perfil">PERFIL</a></li>
						</ul>
					</section>

					<section class="footer-app">
						<h3>Baixe nosso App</h3>

						<p>
							Conheça sobre as PANCs, descubra receitas novas, salve suas receitas favoritas e encontre produtores
							próximos à você!
						</p>

						<div class="download-buttons">
							<img src="/assets/img/download-play-store.png" alt="download play store" />
							<img src="/assets/img/download-apple-store.png" alt="download apple store" />
						</div>
					</section>
				</section>

				<section class="copyright">
					<p>Made by Papaya</p>
				</section>
			</footer>
		</div>
	</body>
</html>
