<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Osiris - CMS</title>

		<link rel="icon" href="/assets/img/logos/3_osiris_white.png" type="image/png" />
		<link rel="stylesheet" href="/assets/css/account.css" />
	</head>
	<body>
		<div id="root">
			<main>
				<a href="/"><img class="back-icon" src="/assets/img/icons/back.svg" alt="back icon" /></a>

				<section class="content">
					<picture>
						<img src="/assets/img/logos/crop_2_osiris_white.png" alt="Osiris" />
					</picture>

					<form method="post">
						<h1>Entre no CMS</h1>

						<div class="inputs">
							<input type="email" name="email" id="email" placeholder="Digite o seu e-mail" />
							<input type="password" name="password" id="password" placeholder="Digite a sua senha" />
						</div>

						<div class="buttons">
							<button type="submit" class="btn btn-vine">Entrar</button>
						</div>
					</form>
				</section>
			</main>
		</div>
	</body>
</html>
